.mb-4{
    margin-left:3%;
    margin-top:3%;
    width:110%;
    margin-top:5px;
    height:30%;
}
.ReportHeader {
    background-color: darkgrey;
    padding: 10px;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 180px;
}
.ReportHeader h3{
    color:white;
}
