
.category ul {
    list-style-type: none;
    margin-top: 20px;
    padding: 0;
    width: 240px;
    background-color: #f1f1f1;
}

.category li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.category li a.active {
    background-color: #4CAF50;
    color: white;
}

.category li a:hover:not(.active) {
    background-color: #555;
    color: white;
}






.project-type form input, .category form input {
    margin-left: 20px;
    margin-bottom: 10px;
}


.seacrh1 {
    width: 90%;
    margin-top: 15px;
    margin-left: 15px;
}


.showMore {
    margin-top: 60px;
    margin-left: 44%;
    width: 300px;
    margin-bottom: 20%;
}