.ProfileIMG
{
    margin-top:10px;
}
.star{
    margin-left:61%;
    margin-top:-12%;
    margin-bottom:5px;
}
.checked {
    color: orange;
}
.funding {
    margin-top: 30px;
}
.card1{



}
img{
    margin-top:10px;
}
.userInfo{
    margin-left:-8%;
}
.line {
    margin-top: -31px;
    margin-left: 18%;
}
.table_Data {
    margin-top: 30px;
    border: 2px solid lightgray;
    border-radius: 8px;
    display: block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    
}

.table_Data th {
    font-weight: bold;
    margin-right:20px;
}