.trustHeader {
  height: 150px;

}
.trustH h1 {
  margin-top: 40px;
  font-size: 3.5rem;
  margin-left: 60px;
}
.listPoint li {
  list-style-type: square;
}
.trustH h2 {
  color: black;
}
.helpheader{
  background-color:brown;
  height: 150px;
  border-radius:5px;

}

.DiffHeader{
  background-color:lightseagreen;
  height: 150px;
  border-radius:5px;

}
.DiffHeader h1{
margin-top: 40px;
  font-size: 3rem;
  margin-left: 35px;
  color:white;
}
.RulesHeader{
  background-color:lightblue;
  height: 150px;
  border-radius:5px;

}
.Expert{

  background-color:cornflowerblue;
  height: 150px;
  border-radius:5px;
}
.Enter{
  background-color:lightblue;
  height: 150px;
  border-radius:5px;
}
.Enter h1{
  margin-top: 40px;
  font-size: 3rem;
  margin-left: 130px;
  color:white;

}
.Enter h7{
  color: white;
}
.Expert h1{
  margin-top: 40px;
  font-size: 3rem;
  margin-left: 35px;
  color:white;

}
.helpH h1{
  margin-top: 40px;
  font-size: 3.5rem;
  margin-left: 60px;
  color:white;
}
.help h3{
  border:1px solid green;
  padding:10px;
  border-radius:5px;
  margin-left:10px;
}
.help h3:hover{
background-color: rgba(5, 206, 120, 1);
}
.help a h4{
  font-size: 1.1rem;
}
.help a h4:hover{
  color:gray;
}
.rules h1{
  margin-top: 40px;
  font-size: 3.5rem;
  margin-left: 130px;
  color:white;
}
.rules h7{
color:white;

}
.RulesT h5{

  margin-left: 50px;
}
.ex h4{
  text-align: center;

}